<div
  class="flex items-center bg-almost-black px-4 py-3.5 sm:px-8 sm:pb-[21px] sm:pt-[23px]">
  <div class="text-base font-bold !leading-[normal] text-grey sm:text-lg">
    STRENGTH
  </div>
  <div
    class="ml-auto mr-4 text-lg font-bold !leading-[normal] text-almost-white sm:text-2xl">
    {{ passwordStrengthText }}
  </div>
  <div class="flex gap-2">
    <div
      *ngFor="let i of [1, 2, 3, 4]"
      class="h-7 w-2.5 border-2 transition-colors duration-300"
      [ngClass]="
        passwordStrengthClass().count >= i ? passwordStrengthClass().class : ''
      "></div>
  </div>
</div>
