<div
  class="flex items-center justify-center bg-dark-grey p-4 sm:px-8 sm:py-[19px]">
  <span
    class="mr-auto text-2xl font-bold !leading-[normal] sm:text-[32px]"
    [class.opacity-25]="!passwordGeneration.password.length"
    test_password-text>
    {{ passwordGeneration.password || 'P4$5W0rD!' }}
  </span>

  <div class="flex items-center gap-4">
    <span
      class="text-lg font-bold leading-[normal] text-green"
      *ngIf="showCopiedText">
      COPIED
    </span>

    <button type="button" (click)="copyPassword()" test_copy-btn>
      <img
        class="transition-[filter] duration-300 hover:grayscale-[1]"
        src="../../assets/images/icon-copy.svg"
        alt="Copy Password"
        width="21"
        height="24" />
    </button>
  </div>
</div>
