<div class="mt-[90px] sm:mt-[158px]">
  <h1
    class="text-center text-base font-bold !leading-[normal] text-grey sm:text-2xl">
    Password Generator
  </h1>

  <div class="mx-auto w-full px-4 sm:w-[540px] sm:px-0">
    <div class="my-4 text-center sm:mb-6 sm:mt-[31px]">
      <app-password-view />
    </div>

    <div class="bg-dark-grey p-4 sm:p-8 sm:pt-6">
      <app-password-generation-config />

      <div class="mb-4 mt-8 sm:my-8">
        <app-password-strength-check />
      </div>

      <button
        type="button"
        class="group flex h-14 w-full items-center justify-center gap-6 border-2 border-green bg-green text-base font-bold !leading-[normal] text-dark-grey transition-colors duration-300 hover:bg-transparent hover:text-green sm:h-[65px] sm:text-lg"
        (click)="generatePassword()">
        <span>GENERATE</span>
        <span>
          <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
            <path
              class="group-hover:fill-current"
              fill="#24232C"
              d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
