<div class="flex items-center justify-between">
  <p class="text-base font-bold !leading-[normal] text-almost-white sm:text-lg">
    Character Length
  </p>

  <span class="text-2xl font-bold !leading-[normal] text-green sm:text-[32px]">
    {{ passwordGenerator.passwordGeneratorConfig.length }}
  </span>
</div>

<div class="mb-[42px] mt-[23px]">
  <app-range-input
    (selectedLength)="
      updatePasswordGeneratorConfig({
        key: 'length',
        value: $event
      })
    " />
</div>

<div class="grid gap-5">
  <app-checkbox-input
    *ngFor="let config of passwordConfigCheckboxes"
    [id]="config.name"
    [label]="config.title"
    (changeEvent)="updatePasswordConfigFromCheckboxes($event)" />
</div>
