@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/jet_brains_mono.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  src: url('./assets/fonts/jet_brains_mono_italic.ttf');
}

@layer base {
  body {
    @apply dark-bg-gradient min-h-screen text-almost-white;
  }
}

@layer utilities {
  .dark-bg-gradient {
    background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  }
}
